  body {
    font-family: "Noto Sans TC", sans-serif;
    margin: 20px;
    background-color: #eef2f7;
  }
  h3 {
    text-align: center;
    margin-bottom: 12px;
  }
  .periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 50px);
    grid-template-rows: repeat(10, 50px);
    grid-gap: 4px;
    justify-content: center;
    margin: 10px auto;
    max-width: 920px;
  }

  .element {
  background: yellowgreen;
  border: 1px solid #aaa; 
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 12px;
  padding: 0px ;
  border-color: white;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.15);
  transition: background-color 0.3s, border-color 0.3s;
  margin:0px;
  }

  .element:hover {
    transform: scale(1.15);
    background-color: #b3d1ff;
    border-color: #1e90ff;
    transition: transform 0.3s, box-shadow 0.3s; 
  }

.element-num-cname {
    display: inline-block; 
    /* border: 1px solid #aaa; */
    width: 54px;
    /* width: calc(55px - (1 * 2)); */
    /* margin-top: 1px; */
    text-align: center;
    font-size: 12px;
    padding:0px;
    margin:0px;
}

  .element-number {
    display: inline-block; 
    box-sizing: content-box;
    /* border: 1px solid #aaa; */
    width: 15px;
    /* width:15px; */
    /* vertical-align: center; */
    font-size: 10px;
    text-align: right;
    padding:0px;
    margin:0px;
  }

  .element-cname {
  display: inline-block; 
  box-sizing: content-box;
  /* border: 1px solid #aaa; */
  text-align: right;
  width: 25px;
  vertical-align: super;
  font-size: 12px;
  padding:0px;
  margin:0px;
  }
  
  .element-symbol {
    font-weight: bold;
    font-size: 12px;
  }

  .element-name {
    /*margin-top: 1px;  與上面獨立 */
    font-weight: bold;
    /* font-size: 7px; */
    font-size: 55%; 
    color: #555; 
  }

  .gap {
    background: transparent;
    border: none;
    cursor: default;
  }
  #detailPanel {
    max-width: 650px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    border: 2px solid #1e90ff;
    box-shadow: 0 0 20px rgba(30,144,255,0.3);
    position: relative;
  }

  #closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: #1e90ff;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 4px 12px;
    transition: transform 0.3s, box-shadow 0.3s; 
    cursor: pointer;
    border-radius: 3px;
  }
  #closeBtn:hover {
    background: #0f5ea1;
  }
  #detailPanel h2 {
    margin-top: 0;
  }
  .element-info p {
    line-height: 1.4;
  }
  .element-info img {
    width: 150px;
    margin-top: 12px;
  }
  .electron-shell {
    margin-top: 10px;
  }
  .electron-shell span {
    background: #1e90ff;
    color: white;
    font-size: 14px;
    border-radius: 12px;
    padding: 3px 8px;
    margin: 2px 4px 2px 0;
    display: inline-block;
  }
  /* 鑭系與錒系元素獨立區塊 */
  .f-block {
    grid-column-start: 3;
    grid-column-end: span 15;
    display: flex;
    gap: 4px;
    margin-top: 10px;
  }